body{
    /* background-color: #DFF6FF; */
    background-image: url("images/background.jpg");
    font-family: sans-serif;
    background-repeat: no-repeat;
    max-width: 1919px;
    padding: 20px;
}

h1,h2,h3 {
    text-align: center;
    color: #1363DF;
}

header p {
    text-align: center;
}

.content {
    background-color: #DFF6FF; 
    opacity: 0.80;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 900px;
}
footer {
    font-size: 14px;
    text-align: center;
}

hr {
    background-color: #06283D;
    border-color: #06283D;
    height: 2px;
}

a {
    color: #06283D;
}

a:hover {
    color: black;
}
a:visited {
    color: #06283D;
}
